.partners__item {
    display: inline-block;
    vertical-align: middle;
    width: 270px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 70px;
}

.partners__link {
    display: block;
}

.partners__logo {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;    
}

.partners__logo:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none; /* IE 6-9 */
}

